
@{
    ViewBag.Title = "GioRong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class=" text-uppercase">Giỏ hàng của bạn</h2>
    <i>"Giỏ hàng của bạn không có sản phẩm ....."</i>
</div>

